@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Mochiy+Pop+P+One&family=Poppins:wght@900&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

:root{
    --bg : #e84949;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
    font-family: 'Be Vietnam Pro', sans-serif;
}


.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo{
    width: 120px;
}

.logo-text{
    margin-left: -20px;
    font-size: 25px;
    font-weight: bold;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.nav-items div:hover{
    font-weight: bolder;
    transition: 0.8s;
}



.main-sec{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;

}

.faded-text{
    position: absolute;
    font-size: 7em;
    color: rgb(231,231,231);

    bottom: -16%;
    left: 0;
    font-weight: bold;
    transition: all 3s;
}

.main-sec-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.main-sec-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}
.main-sec-subheading{
    font-size: 45px;
    line-height: 45px;
}

.main-sec-desc{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink{
    position: relative;
    width: fit-content;
    background-color: var(--bg);
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 1px;
    font-size: large;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 1.5) 1.95px 1.95px 2.6px;
    z-index: 1;

}

.btn-pink::before{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s ease;
    z-index: -1;
}

.btn-pink:hover::before{
    transform: scaleX(1);
    font-weight: bolder;
}


.user-image img{
    width: 100px;
    height: 100px;
    font-weight: bold;
}

