@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Mochiy+Pop+P+One&family=Poppins:wght@900&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
    font-family: 'Be Vietnam Pro', sans-serif;
}


.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo{
    width: 120px;
}

.logo-text{
    margin-left: -20px;
    font-size: 25px;
    font-weight: bold;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.nav-items div:hover{
    font-weight: bolder;
    transition: 0.8s;
}



.main-sec{
    width: 1200px;
    display: flex;
    justify-content: space-between;

}


.user-image img{
    width: 100px;
    height: 100px;
}